################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nqueens/Debug
/nqueens/application/Debug
/nqueens/dll/Debug
/nqueens/.vs/nqueens/v14
*.opendb

/nqueens/resources
/nqueens/doxygen/html
/nqueens/application/Release
/nqueens/dll/Release
/nqueens/Release
