################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nqueens/Debug
/nqueens/application/Debug
/nqueens/dll/Debug
/nqueens/.vs/nqueens/v14
*.opendb

